<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body>
<div style="height: 100%;width: 100%" id="app">
    <a v-if="isLogout">账号：</a><input v-if="isLogout" id="name">
    <a v-if="isLogout">密码：</a><input v-if="isLogout" id="password">
    <button v-if="isLogout" class="layui-btn" v-on:click="login">{{loginText}}</button>
    <button v-if="isLogin" class="layui-btn" v-on:click="logout">{{logoutText}}</button>
    <input v-if="isLogin" id="searchValue" v-model="searchInput" v-on:click="clear">
    <button v-if="isLogin" class="layui-btn" v-on:click="search">查询</button>
    <button v-if="isLogin" class="layui-btn" v-on:click="add">添加</button>
    <a v-if="isEdit">{{article.title}}</a>
    <br>
    <a v-if="isEdit">{{article.content}}</a>

    <table class="layui-table" v-if="isSearch">
        <colgroup>
            <col width="100">
            <col width="100">
            <col width="100">
        </colgroup>
        <thead>
        <tr>
            <th>标题</th>
            <th>内容</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="article in articles">
            <td>{{article.title}}</td>
            <td>{{article.content}}</td>
            <td>
                <button v-on:click="edit(article.id)">查看</button>
                <button v-on:click="delete(article.id)">删除</button>
            </td>
        </tr>
        </tbody>
    </table>


</div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            loginText: '登录',
            logoutText: '退出',
            isLogin: false,
            isLogout: true,
            isSearch: false,
            isEdit: false,
            isAdd: false,
            token: "",
            searchInput: "输入搜索内容",
            page: 1,
            articles: [],
            article: {}

        },
        methods: {
            login: function () {
                var data = {
                    "name": $("#name").val(),
                    "password": $("#password").val()
                };
                $.ajax({
                    type: "POST",
                    url: "/user/login",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    data: JSON.stringify(data),
                    success: function (data) {
                        if (data) {
                            app.token = data;
                            app.isLogin = true;
                            app.isLogout = false;
                        } else {

                        }
                    }

                });

            },

            logout: function () {
                app.isLogin = false;
                app.isLogout = true;
                app.isSearch = false;
                app.isAdd = false;
            },
            clear: function () {
                app.searchInput = "";
            },
            search: function () {
                app.isSearch = true;
                app.isEdit = false;
                app.isAdd = false;
                var name = $("#searchValue").val();
                $.ajax({
                    type: "POST",
                    url: "/article/search",
                    headers: {
                        "token": app.token
                    },
                    data: {
                        "name": name
                    },
                    success: function (data) {
                        if (data) {
                            app.articles = data;
                        } else {

                        }
                    }

                });
            },
            add: function () {

            },
            edit: function (e) {
                console.log(e);
                app.isSearch = false;
                app.isEdit = true;
                app.isAdd = false;
                var name = $("#searchValue").val();
                $.ajax({
                    type: "POST",
                    url: "/article/edit",
                    headers: {
                        "token": app.token
                    },
                    data: {
                        "id": e
                    },
                    success: function (data) {
                        if (data) {
                            app.article = data;
                        } else {

                        }
                    }

                });

            },
            delete: function (e) {
                console.log(e);
            }
        }
    });


</script>
</html>